@import '$';

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__ {
    &bar {
      background: $bg-secondary;
      height: 100px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      gap: 0 16px;
    }

    &logo {
      color: $c-primary;
    }

    &nav {
      background: $bg-secondary;
      display: flex;
      align-items: center;
    }

    &nav-item {
      color: $c-tertiary;
      padding: 0 16px;
      line-height: 50px;
      text-transform: uppercase;
      transition: color 0.1s;

      &:hover {
        color: $c-accents-2;
      }
    }
  }
}
