@import '$';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @include l {
    font-size: 14px;
  }

  @include s {
    font-size: 12px;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $c-secondary;
  background: $bg-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  margin: 40px 16px 0;
}

a {
  text-decoration: none;
  color: $c-secondary;
}

.link {
  text-decoration: none;
  color: $c-accents-1;
  transition: color 0.05s;

  &:visited {
    color: $c-accents-3;
  }
  &:hover {
    text-decoration: underline;
    color: $c-accents-2;
  }
}

h1 {
  @include f-h1;
}
h3 {
  @include f-h3;
}

h1,
h3,
p {
  margin: 0;
}
