<footer class="app__footer footer">
  <div class="footer__copyright">© 2022 - <a href="#" class="footer__link link">Privacy Policy</a> - <a href="#" class="footer__link link">Terms and Conditions</a></div>
</footer>
