.breadcrumbs {
  display: flex;
  gap: 6px 13px;
  font-size: 0.75rem;
  color: $c-primary;
  padding: 13px 16px;
  line-height: 14px;

  &__link {
    color: $c-accents-1 !important;

    &:hover {
      color: $c-accents-2 !important;
    }

    &:last-child {
      color: $c-secondary !important;
    }
  }
}
