@import '$';

.stock-item {
  display: flex;
  gap: 16px;
  padding: 16px;
  background: $bg-secondary;
  @include interactive-box;

  @include l {
    gap: 8px;
  }

  &__ {
    &section {
      flex-grow: 0;
      flex-shrink: 0;

      &:nth-child(2) {
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex-grow: 1;
        flex-shrink: 1;
      }
    }

    &image {
      width: 224px;
      height: 168px;
      background-color: $bg-tertiary;
      background-size: cover;

      @include l {
        width: 200px;
        height: 150px;
      }

      @include s {
        width: 180px;
        height: 135px;
      }
    }

    &title {
      color: $c-primary;
    }

    &description {
      @include f-desc;
      flex-grow: 1;
      max-width: 400px;
    }

    &tags {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      @include l {
        gap: 8px;
      }
    }

    &tag {
      color: $c-bright;
      font-size: 0.75rem;
      background: $bg-tertiary;
      padding: 5px 8px;
    }

    &price {
      white-space: nowrap;
    }
  }
}
