<!DOCTYPE html>
<html lang="en">
  {{> components/Head page_meta}}
  <body>
    <div class="app">
      {{> components/Header}}
      {{> components/Main}}
      {{> components/Footer}}
    </div>
    <script src="./index.js"></script>
  </body>
</html>
