<!DOCTYPE html>
<html lang="en">
  {{> components/head title=page_meta.title meta_keywords=page_meta.meta_keywords meta_description=page_meta.meta_description}}
  <body>
    <div class="app">
      {{> components/header}}
    </div>
    <script src="./index.js"></script>
  </body>
</html>
